Это сайт для удобного создания записей с возможностью добавления хештегов и поиску нужных записей по ним. На этом сайте вы можете зарегистрироваться и или войти в свой аккаунт. В аккунте вы можете создавать записи, удалять записи, искать записи по хештегам. Также вы можете выйти из своего аккаунта.