{% extends "base.html" %}

{% block content %}
<head>
    <style>
	body {
		background: #f1f1f1 url(starting_background.jpg);
		color: #f1f1f1;
		background-attachment: fixed;
		background-repeat: repeat-x;
	}

    </style>
</head>
<h1>Удалить заметку</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <style>
    p  {
    color: #666666;
    }

    </style>
    <p>
        {{ form.number.label }}<br>
        {{ form.number(class="form-control") }}<br>
        {% for error in form.number.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <style>
    button {
    position: relative;
      top: 3.5%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    </style>
    <button type="submit" name="btn_delete" class="btn btn-light">Удалить</button>
</form>
{% endblock %}